@model AddEventModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.Id" />

            <div class="form-group">
                <label asp-for="PerfomanceId"></label>
                <select asp-for="PerfomanceId" class="form-control">
                    @foreach (var perfomance in Model.Perfomances)
                    {
                        <option value="@perfomance.Id">@perfomance.DisplayName</option>
                    }
                </select>
                <span asp-validation-for="PerfomanceId" class="small text-danger"></span>
                <button type="button" class="btn-primary" id="newPerfomance" onclick="AddPerfomance()">New Perfomance</button>
            </div>

            <div class="form-group">
                <label asp-for="LocationId"></label>
                <select asp-for="LocationId" class="form-control">
                    @foreach (var location in Model.Locations)
                    {
                        <option value="@location.Id">@location.DisplayName</option>
                    }
                </select>
                <span asp-validation-for="PerfomanceId" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PricePerTicket"></label>
                <input asp-for="PricePerTicket" class="form-control" placeholder="Price">
                <span asp-validation-for="PricePerTicket" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control" placeholder="Date">
                <span asp-validation-for="Date" class="small text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="IsPremiere">Premiere</label>
                <input asp-for="IsPremiere" class="form-check-input" type="checkbox">
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>