@model AllEventModel

<div class="col-md-4">
    <div class="card mb-3" style="height:500px !important; background-color: #9467cc;">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Event Image" style="height:290px !important;">
        <div class="card-body text-center">
            <h4>@Model.PerfomanceTitle @Model.Year</h4>
            <h6>Location: <b>@Model.LocationName</b></h6>
            <h6>Date: <b>@Model.Date</b></h6>
            <h6>
                Price Per Ticket:
                <b>@String.Format("{0:f2}", Model.PricePerTicket) BGN</b>
            </h6>
            @if (Model.IsPremiere)
            {
                <h6>Premiere</h6>
            }
            <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id" 
             class="btn btn-success">Details</a>
@*            @if (this.User.IsInRole("Admin"))
            {
                <a asp-area="Admin" asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-warning">Edit</a>
                <a asp-area="Admin" asp-controller="Event" asp-route-id="@Model.Id"
               class="btn btn-danger">Delete</a>
            }*@
        </div>
    </div>
</div>