@model DetailEventModel

@{
    ViewBag.Title = "Event Details";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr />

<div class="container" style="display:inline;">
    <div class="row">
        <div class="col-12 text-center">
            <img class="card-img-top" style="max-width: 100%; height:auto; display:block !important;"
                 src="@Model.Perfomance.ImageURL" alt="Perfomance Image">
        </div>
        <div class="card col-12 border-0" style="background-color: #f29705 !important; font-size: 20px;">
            <p style="font-size:25px !important;">Title: <u>@Model.Perfomance.Title</u></p>
            <p>Place: <b>@Model.LocationName</b></p>
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.PricePerTicket) BGN</b>
            </p>
            <p>Genre: <b>@Model.Perfomance.Genre, @Model.Perfomance.PerfomanceType</b></p>
            <p>@Model.Perfomance.Description</p>
            @if (Model.IsPremiere)
            {
                <p><b>Premiere</b></p>
            }
        </div>
    </div>
</div>