@model LocationModel

<div class="col-md-4">
    <div class="card mb-3" style="background-color: #9467cc;">
        <div class="card-body text-center">
            <h6>Location: <b>@Model.Name, @Model.Address</b></h6>
            <h6>Type: <b>@Model.PlaceTypeName</b></h6>
            <h6>Seats: <b>@Model.Seats</b></h6>
            @if (!string.IsNullOrEmpty(Model.Link))
            {
                <iframe src="@Model.Link" width="100%" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            }
            <br />
            @if (this.User.Identity!.IsAuthenticated)
            {
                <a asp-area="Admin" asp-controller="Location" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
                <a asp-area="Admin" asp-controller="Location" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-warning">Edit</a>
                <a asp-area="Admin" asp-controller="Location" asp-action="Delete" asp-route-id="@Model.Id"
               class="btn btn-danger">Delete</a>
            }
        </div>
    </div>
</div>